<% show_post ||= false %>
<% post = Post.find(comment.post_id) if Post.ids.include?(comment.post_id) %>

<div class="row">
  <% if log_in? %>
    <div class="well span0 text-center">
      <%= link_to vote_post_comment_path(comment.post,comment, vote: "true") , method: :post do %>
        <i class="icon-arrow-up"></i>
      <% end %>
      <br />
      <%= comment.total_votes %> votes
      <br />
      <%= link_to vote_post_comment_path(comment.post,comment, vote: "false") , method: :post do %>
        <i class="icon-arrow-down"></i>
      <% end %>
    </div>
<% end %>

  <div class='well span8'>
    <em>"<%= comment.body %>"</em>
    <% if !!post && show_post %>
      <strong>On:</strong>
      <%= link_to  post_path(post) do %>
       <%= post.title %>
      <% end %>
    <% end %>
     <br />
     <span class='quiet'>posted by </span><%= link_to comment.creator.name, user_path(comment.creator) %>
   <% if comment.created_at  %>
     <small> at <%= fix_date(comment.created_at) %>
   <% end %>
     </small>
  </div>
</div>
